<!-- Buttons to redirect to the respective Query page. -->
<div class="queryButtons">
  <button class="queryBtn" onclick="handleQueryClick(1)">Query1</button>
  <button class="queryBtn" onclick="handleQueryClick(2)">Query2</button>
  <button class="queryBtn" onclick="handleQueryClick(3)">Query3</button>
  <button class="queryBtn" onclick="handleQueryClick(4)">Query4</button>
  <button class="queryBtn" onclick="handleQueryClick(5)">Query5</button>
  <button class="queryBtn" onclick="handleQueryClick(6)">Query6</button>
  <button class="queryBtn" onclick="handleQueryClick(7)">Query7</button>
</div>
</div>
